body {
    background: #2D2241;
    color: #fff;
}

.box {
    background: rgba(214, 203, 203, 0.4);
    overflow: auto;
    width: 200px;
    height: 200px;
    padding: 20px 40px 50px 30px;
    border-width: 10px;
    border-style: solid;
    border-color: #fff;
    border-radius: 20px;
    margin: 10px auto;
}

.centered {
    margin: 0 auto;
    background: hotpink;
    width: 150px;
}