body {
    background: #fefefe;
}

section {
    background: white;
}

h1 {
    color: #42033D;
}

p {
    color: #2c79ac;
}

h2 {
    color: #145aaa;
}

h4 {
    color: black;
}

h5 {
    color: white;
}

.naukaHtml {
    color: #30208b;
}

.naukaCss {
    color: #328b20;
}

.naukaJs {
    color: #8b7b20;
}

.naukaGit {
    color: #573f3f
}

.naukaGithub {
    color: #962a2a
}

.header-style {
    color: #332E3C;
    background: #A29587;
}

.list {
    list-style: lower-greek;
}

.table {
    width: 100%;
}